* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body{
    font-size: 14px;
    font-family: 'ralewayregular';
}

p{
    margin-bottom: 20px;
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
}

.nav-menu ul.menu{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.nav-menu ul.menu li{
    list-style: none;
}

.nav-menu ul.menu li a{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: 'ralewayregular';
    padding-left: 15px;
    transition: 0,3s;
}

.nav-menu ul.menu li a:hover{
    text-decoration: none;
    color: rosybrown;
}


.header{
    position: relative;
    z-index: 2;
    padding-top: 40px;
}

.baner{
    background: url(../img/baner.png) no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 290px;
    padding-bottom: 155px;
    background-size: cover;
    background-position: left top;
    top: -120px;
}

.divider {
    border-bottom: solid 1px #4f5268;
    padding-bottom: 35px;
}

.baner-text h1{
    font-family: 'open_sansbold';
    font-size: 55px;
    text-align: center;
    color: white;
    max-width: 872px;
    width: 100%;
    margin: 0 auto;
    line-height: 60px;
    margin-bottom: 33px;
    text-transform: uppercase;
}

.box-text-baner{
    font-family: 'ralewayregular';
    max-width: 858px;
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-bottom: 74px;
}

.btn-baner{
    display: block;
    background: #e84545;
    font-family: 'ralewayregular';
    font-size: 13px;
    color: white;
    transition: 0.3s;
    padding: 15px 0;
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 2px;
}

.btn-baner:hover{
    text-decoration: none;
    background: antiquewhite;
    color: black;
}

.block2 {
    margin-top: 20px;
    margin-bottom: 52px;
}
.block2 .box-service {
    text-align: center;
}
.block2 .box-service .box-service-img{
    margin-bottom: 32px;
}
.block2 .box-service h2{
    font-family: 'ralewaybold';
    font-size: 14px;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 19px;
}
.block2 .box-service .box-service-text{
    font-family: 'ralewayregular';
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    margin-bottom: 72px;
}

/* font-family: 'ralewaybold';
font-family: 'ralewaylight';
font-family: 'ralewayregular';
font-family: 'ralewaysemibold';
font-family: 'open_sansbold';
font-family: 'open_sansregular';
font-family: 'cardoitalic'; */