* {
    padding: 0;
    margin: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: Arial;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

p {
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
    background: #ccc;
}

.logo {
    float: left;
    width: 200px;
}

.slogan {
    float: left;
    width: 400px;
    text-align: center;
    font-weight: bold;
    margin-top: 11px;
}

.header-contact {
    float: right;
}

.header-contact a {
    display: block;
    padding: 3px 0;
}

.header-contact {
    display: block;
    text-decoration: none;
    line-height: 10px;
    color: #0f428e;
    font-weight: bold;
}

.header-contact a:hover {
    text-decoration: underline;
}

.nav {
    background-color: blue;
}

.nav ul.menu {
    list-style: none;

}

.nav ul.menu li {
    display: inline-block;
    position: relative;
}

.nav ul.menu li a {
    color: burlywood;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-size: 15px;

}

.nav ul.menu li a:hover {
    background-color: crimson;

}

.nav ul.menu li ul.sub-menu {
    list-style: none;
    position: absolute;
    left: 0;
    top: 37,5px;
    background-color: cyan;
    width: 200px;
    padding: 10px 0;
    display: none; 
}

.nav ul.menu li ul.sub-menu li a {
    padding: 3px 20px;
    width: 100%;
    display: block;

}

.nav ul.menu li ul.sub-menu li {
    display: block;
}

.nav ul.menu li:nth-child(5):hover ul.sub-menu {
    display: block;
}

.slide1 {
    background: url(../img/image1.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0;

}

.slide2 {
    background: url(../img/image2.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.slide3 {
    background: url(../img/image3.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.slider {
    overflow: hidden;
}
